# Car Price analysis

In [9]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

In [17]:
df = pd.read_csv(r"C:\Users\Harsh\OneDrive\Desktop\car_sales_project\CarPrice_Assignment.csv")
df.head(1)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0

In [35]:
null_count = df.isnull().sum() # no null values is present there 
null_percent = (null_count / len(df)) * 100
null_proper = pd.DataFrame({'NULL_COUNT':null_count,"NULL%":null_percent})# use dictionary concept here which act as a key and value thing then conver into df
print(null_proper)

                  NULL_COUNT  NULL%
car_ID                     0    0.0
symboling                  0    0.0
CarName                    0    0.0
fueltype                   0    0.0
aspiration                 0    0.0
doornumber                 0    0.0
carbody                    0    0.0
drivewheel                 0    0.0
enginelocation             0    0.0
wheelbase                  0    0.0
carlength                  0    0.0
carwidth                   0    0.0
carheight                  0    0.0
curbweight                 0    0.0
enginetype                 0    0.0
cylindernumber             0    0.0
enginesize                 0    0.0
fuelsystem                 0    0.0
boreratio                  0    0.0
stroke                     0    0.0
compressionratio           0    0.0
horsepower                 0    0.0
peakrpm                    0    0.0
citympg                    0    0.0
highwaympg                 0    0.0
price                      0    0.0

In [40]:
high_value = null_proper[null_proper["NULL%"]>25]
df.drop(columns=high_value.index, inplace=True) # so here we drop the coloumn with true value but actually in this data no null values is there
print("Dropped columns with high value more than 25% and replace with true")

Dropped columns with high value more than 25% and replace with true

In [41]:
total_columns = df.shape[1]
needed_columns = total_columns * 0.7  # 70% of total columns helps to convert the things in form of percentage

df = df.dropna(thresh=needed_columns) # is used to remove the NaN value with conition or thresh

print("Dropped rows with too many NaN values.") # not a number or empty cells here

Dropped rows with too many NaN values.

# Now , we have to drop the unwanted coloumns such as car_ID , project phase 2